body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #18637B !important;
    font-weight: bold !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
    background-color: #94BF6E !important;
    padding: 0px;
    display: flex;
    align-items: center;
    max-width: 1600px;
    margin: auto;
    border-bottom: 1px solid #f2f2f2cc;
    -webkit-box-shadow: -2px 5px 25px -2px rgba(0, 0, 0, 0.66);
    box-shadow: -2px 5px 25px -2px rgba(0, 0, 0, 0.66);
}

.navbar h1 {
    color: #0d3580;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    padding: 6px;
}

.navbar a:hover {
    color: red;
}

.navbar button {
    background-color: #124057 !important;
}

.navbar button:hover {
    color: red;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.app-map {
    height: 560px;
    width: 50vh;
    margin: 0 auto;
}

.map {
    height: 100%;
    width: 100%;
    border: 2px solid gray;
    -webkit-box-shadow: -2px 0px 15px -2px rgba(0, 0, 0, 0.48);
    box-shadow: -2px 0px 15px -2px rgba(0, 0, 0, 0.48);
    border-radius: 5px;
    margin-left: 6px;
}

.marker {
    background-image: url('https://i.imgur.com/oz3r3Wq.png');
    background-size: cover;
    width: 32px;
    height: 32px;
    background-color: yellow;
    border-radius: 16px;
    border: solid 3px darkslategray;
}

.marker:hover {
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 17px;
}

.mapboxgl-popup {
    width: 100px;
}

.table {
    background-color: lightgrey;
    border: 3px solid #282c34;
}

.game-details {
    /*border: 1px solid;*/
    background: #e7eaf0;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem;
    -webkit-box-shadow: -2px 5px 25px -2px rgba(0, 0, 0, 0.66);
    box-shadow: -2px 5px 25px -2px rgba(0, 0, 0, 0.66);
}

.btn, .toggle, .table{
    -webkit-box-shadow: -2px 5px 25px -2px rgba(0, 0, 0, 0.66);
    box-shadow: -2px 5px 25px -2px rgba(0, 0, 0, 0.66);
}

.header-game-details {
    background-color: lightgrey;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #282c34;
    -webkit-box-shadow: -2px 5px 25px -2px rgba(0, 0, 0, 0.66);
    box-shadow: -2px 5px 25px -2px rgba(0, 0, 0, 0.66);
}

/*
loader
*/

.loader {
    margin: 150px auto 0;
    border: 16px solid #124057;
    border-top: 16px solid #94BF6E;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
loader
*/

.adminArea{
    display: none;
}

.container{
    max-width: 1480px;
}

h6 a{
    text-decoration: none;
    color: #18637B;
    font-size:18px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
}

details{
    color:white;
    font-size:24px;
}

